:root {
    --main: #d79921;
    --light: #fbf1c7;
    --dark: #1d2021;
    --red: #cc241d;
    --green: #98971a;
    --smooth: #504945;
    --light-grey: #a8998a;
}
* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    text-decoration: unset;
    color: unset;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--dark);
    color: var(--light-grey);
    padding: 0 5vw;
    overflow: hidden;
}
main {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.header {
    width: fit-content;
    height: 100vh;
    margin: 0;
}

.header > h1 {
    font-family: 'Anton', sans-serif;
    font-size: 14.2457vh;
    text-align: center;
    margin: 0.6em 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.main {
    max-width: 70vw;
    margin: 0 auto;
}

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100vh;
    padding: 1em 1em;
    background-color: var(--smooth);
    overflow: hidden;
    overflow-y: scroll;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    width: 32.3333%;
    height: fit-content;
    padding: 1%;
    border-radius: 7.5px;
    margin: 0.5em 0.5%;
}

.post:last-child {
    margin-bottom: 2em;
}

.post > img {
    width: 100%;
}

.post--content {
    display: flex;
    width: 90%;
    flex-direction: column;
}
.post--content > button {
    width: 100%;
    padding: 0.2em 0;
    background-color: #0000;
    border: none;
}
.post--content > button:hover,
.post--content > button:focus {
    outline: none;
    text-decoration: underline;
}
.post--content--title {
    text-transform: capitalize;
    text-align: left;
    font-size: x-large;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--main);
}
.post--content--body {
    text-align: left;
    font-size: large;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--light);
}

.post--buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.post--buttons > button {
    height: fit-content;
    width: fit-content;
    margin: 0.2em;
    margin-top: 0.5em;
    border-radius: 10%;
    padding: 0.2em;
    transition: height 1s ease-in-out;
    color: #141414;
}

.post--buttons--edit {
    background-color: var(--green);
    border: 2px solid var(--green);
}
.post--buttons--delete {
    background-color: var(--red);
    border: 2px solid var(--red);
}
.post--buttons > button:hover,
.post--buttons > button:focus {
    outline: none;
    border: 2px solid var(--main);
}
/* modal */
.modal {
    position: absolute;
    background-color: var(--dark);
    height: 100vh;
    border-left: 5px solid var(--light-grey);
    right: 0;
    max-width: 81%;
    transition: right 1s ease-in-out;
    overflow: hidden;
    overflow-y: scroll;
}
.modal--container {
    padding: 3em 0.75em;
}
.modal--buttons--edit {
    background-color: transparent;
    color: var(--light-grey);
    border: none;
    outline: none;
    font-size: 2.3em;
    float: right;
    cursor: pointer;
    transition: 0.1s;
}
.modal--buttons--edit:active {
    color: var(--smooth);
}
.modal--buttons--close {
    position: fixed;
    top: 5px;
    background-color: transparent;
    color: var(--light-grey);
    outline: none;
    border: none;
    font-size: 2em;
    margin-left:0.5em;
}
.modal--post {
    color: var(--light);
    min-width: 81vw;
    padding: 0 1.5em;
    display: flex;
    min-height: 70vh;
}
.modal--post--content {
    flex: 1;
    padding: 0 2em;
}
.modal--post img {
    margin: 0 auto;
    border-radius: 5px;
    width: 50%;
    height:auto;
}
.modal--post textarea:first-child {
    font-size: xx-large;
}
.modal--post--title {
    all: unset;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--main);
}
.modal--post--body {
    all: unset;
    margin: 1em 0.5em;
    text-align: justify;
    text-transform: capitalize;
    min-height: 75%;
    min-width: 100%;
    font-weight: 700;
    word-break: break-all;
    /* word-wrap: break-word; */
}
.modal--username {
    margin: 0 0.25em;
    font-size: 2em;
}
.modal--mail {
    margin: 0 0.5em;
    font-size: 1em;
}
.modal--comments {
    padding: 2em;
    
}
.modal--image {
    background: transparent url(/srt/img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 500px;
}
.modal--comments button {
    all: unset;
    font-size: 1.4em;
    border: 2px solid var(--light-grey);
    padding: 0.2em 0.5em;
    border-radius: 7.5px;
    transition: 0.5s;
    cursor:pointer;
}
.modal--comments button:active {
    transform: translateY(2px);
    transform: translateX(2px);
    font-size: 1.35em;
    margin: 0.04em 0;
    transition: 0s;
}
.modal--comments--container{
    padding: 1em 0 0 0;
    display:flex;
    flex-direction: column;
}

.comment{
    background-color: var(--dark);
    border: 2px solid var(--light-grey);
    border-radius: 7.50px;
    padding: 0.7em 1.4em;
    margin:1em 0;
}

.comment--header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.comment--title{
    color:var(--main);
    font-size: x-Large;
    text-transform: capitalize;
}
.comment--body{
    font-size: 1.4em;
}

.clickable {
    cursor: pointer;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.shadows {
    box-shadow: 2px 2px 4px #000000;
}
.disaled {
    opacity: 0.5;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--dark);
    border: var(--main);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main);
}

.none {
    right:-81vw;
}
